<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    
    <link rel="stylesheet" href="css/style.css"> 
    
</head>

<body>
    <div class="container">
        <div class="con-login">
        <form action="/login" method="post">
            
                <h2>LOGIN</h2>
                <label for="email"><b>Email</b></label>
                <input type="text" id="email" name="name" placeholder="Enter Email">

                <label for="password"><b>Password</b></label>
                <input type="password" id="password" name="password" placeholder="Enter Password">

                <div class="login">
                    <a href="#">Forget Password</a></div>

                <div class="login">
                    <input type="submit" value="Login">
                </div>
        </form>
    </div>

    </div>
</body>

</html>